[user]
    name = tomohiri nakamura
    email = quickness.net@gmail.com
[include]
	path = ~/.gitconfig.accounts
[core]
    symlinks = false
    autocrlf = false
    excludesfile = ~/.gitignore
[color]
    diff = auto
    status = auto
    diff = auto
    branche = auto
[pack]
    packSizeLimit = 2g
[help]
    format = html
[http]
    sslCAinfo = /usr/share/ca-certificates/cacert.org/cacert.org.crt
[sendemail]
    smtpserver = /usr/bin/msmtp.exe
[diff]
    external = git_diff_wrapper
[pager]
    diff =
[http]
    sslVerify = false
[tig "bind"]
    generic = g move-first-line
    generic = G move-last-line
    generic = ^F move-page-down
    generic = ^B move-page-up
